<table
  style="
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
  "
>
  <tr>
    <td colspan="3" height="10%" style="background-color: #f8f8f8"></td>
  </tr>
  <tr>
    <td width="10%" style="background-color: #f8f8f8"></td>
    <td width="80%" height="80%" style="background-color: white; padding: 3%; vertical-align: top">
      <p style="text-align: center"><img src="https://talksyncapp.com/android-chrome-512x512.png" width="20%" /></p>
      <p>Hi {{name}},</p>
      <p>We're writing to let you know that your use-reducer-login Pro membership has ended.</p>
      <p>
        You can restart your subscription at any time by logging in to your
        <a href="https://talksyncapp.com/settings/membership">settings page</a>.
      </p>
      <p>And of course you can continue to use use-reducer-login as a Basic member.</p>
      <p>Thanks again for using use-reducer-login!</p>
      <p>-- The use-reducer-login team</p>
    </td>
    <td width="10%" style="background-color: #f8f8f8"></td>
  </tr>
  <tr>
    <td colspan="3" height="10%" style="background-color: #f8f8f8"></td>
  </tr>
</table>
